<!-- Include Header -->
<%- include('include/_header')%>
<!-- /Include Header -->

<main class="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/" class="users"><i class="fas fa-angle-double-left"></i> All Users</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light"> Use the Below to add new user</span>
        </div>

        <!-- Form Handle -->
        <%- include('include/_form')%>
    </div>
</main>


<!-- Include Footer -->
<%- include('include/_footer')%>
<!-- /Include Footer -->